@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet');
@import url('tldraw/tldraw.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	height: 100%;
	display: flex;
	flex-direction: column;
  }
  
  .display-backdrop {
	flex:1;
	background-color: black;
	padding: 64px;
	min-height: 100vh;
	color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
  }
  
  .editors-grid {
	flex: 1;
	align-content: start;
	width: 100%;
	display: flex;
	gap: 140px;
	flex-grow: 1;
	height: 1000px
  }
  
  .editor-container {
	flex: 1;
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 90vh;
  }
  
  .editor {
	width: 100%;
	height: 100%;
  }
  
  .editor-container h1 {
	font-family: 'DM Mono', sans-serif;
	color: black;
	margin: 0;
	padding: 14px;
	text-align: center;
	font-weight: 400;
	font-size: 1.8em;
  }

  .masters-grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	gap: 80px;
	flex-grow: 1;
  }

  .master-editor-wrapper {
	max-width: 100%;
	height: 80vh;
	margin: auto;
  }

  .master-editor-container {
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-width: 80vw;
  }

  .custom-layout {
	position: absolute;
	inset: 0px;
	z-index: 300;
	pointer-events: none;
}

.custom-toolbar {
	position: absolute;
	bottom: 3vh;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	gap: 30px;
}

.custom-button {
	pointer-events: all;
	padding: 8px 8px;
	background: white;
	border: 1px solid black;
	border-radius: 100px;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	/* transition: background-color 0.3s ease; */
	width: 200px;
	height:70px;
}

.custom-button[data-isactive='true'] {
	background-color: black;
	color: white;
}

.custom-button:hover {
	background-color: #f0f0f0;
}

/* New style for hover state of active buttons */
.custom-button[data-isactive='true']:hover {
    background-color: #333333; /* Dark gray */
}
.custom-button span:not(.material-icons) {
	margin-left: 2px;
}

.material-icons {
	font-size: 1.2em;
}

.button-label {
	font-size: .5em;
	text-align: center;
}

.editor-content {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
  }

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px
  }
  
  .image-container img {
	max-width: auto;
	height:150px;
  }

.display-section {
		position: relative;
		height: 100vh;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: hsla(212.00000000000006, 38.46%, 92.35%, 1.00);
		background-color: black;
  }

.line-container {
	position: fixed;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	display: flex;
	justify-content: center;
	align-items: stretch;
  }

 .line {
	width: .5em;
	background-color: hsla(0, 0.00%, 94.80%, 1.00);
	box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
  }

.grid-container {
  width: 100%;
  height: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

.grid-wrapper {
	display: flex;
	height: 88vh;
	justify-content: space-between;
	align-items: center;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
  }

  .hero-split {
	display: flex;
	overflow: clip;
	width: 50%;
	height: 100%;
	max-width: 50%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  }

  .top-bg {
	width: 80%;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }

  .tldraw-wrapper {
	width: 100%;
	height: 100%;
	/* background-color: hsla(0, 0.00%, 34.80%, 1.00); */
  }

  .grid-container h1 {
	font-family: 'DM Mono', sans-serif;
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 2vh 6vh;
	padding-bottom: 0vh;
	text-align: left;
	font-weight: 500;
	font-size: 2.5vh;
  }

  .grid-container h2 {
	font-family: 'DM Mono', sans-serif;
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 2vh 6vh;
	padding-top: 1vh;
	text-align: left;
	font-weight: 500;
	font-size: 1.5vh;
  }

  .top-bar h1 {
	font-family: 'DM Mono', sans-serif;
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 3vh 6vh;
	padding-bottom: 4vh;
	text-align: left;
	font-weight: 500;
	font-size: 3vh;
  }

.tip-bg {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 24px;
	/* padding: 20px 30px; */
	margin: 4vh 8vw;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar {
	height: auto;
	background-color: #f0f0f0;
}

.lower-bar {
	height: 1vh;
	background-color: #000000;
}